@use "./settings/color" as color;

body {
    font-family: "Inter";

    background-color: color.$background;
    color: color.$text;
}

main,
header,
footer {
    margin: auto;
    max-width: 1280px;
}
