@use "./settings/color" as color;
@use "./tools/tools.media-queries" as mq;

body {
    font-family: "Inter";

    background-color: color.$background;
    color: color.$text;
}

main,
header,
footer {
    margin: auto;
    max-width: 1280px;

    @include mq.down(hd) {
        margin: 0 1rem;
    }
}
