@use "../settings/color" as color;

.c-paint-block {
    border: 1px solid color.$white;
    border-radius: 10px;

    padding: 1rem;

    margin-bottom: 1rem;

    &__name {
        font-size: 2rem;

        margin: 0.5rem 0;
    }

    &__color {
        display: block;
        content: " ";
        width: 1.2rem;
        height: 1.2rem;

        border-radius: 100%;

        outline: 1px solid color.$white;
        outline-offset: -1px;
    }

    &__colors {
        display: flex;

        :not(:first-child) {
            margin-left: -0.4rem;
        }
    }

    &__paintName {
        color: color.$primary;
        margin: 0.1rem 0.2rem;
    }

    &__lineName {
        width: 100%;

        font-size: 1.2rem;
        margin-bottom: 0.2rem;
    }

    &__line {
        display: flex;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 0.4rem;
        }
    }

    &__paintAmounts,
    &__separator {
        margin: 0.1rem 0 0.1rem 0.2rem;
    }
}
