@use "../tools/tools.media-queries" as mq;

.c-paginator {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__content {
        flex: 1 1 0%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__arrows {
        display: flex;

        width: 100%;
    }

    &__arrowLeft {
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5rem;

        &--firstPage {
            @extend .c-paginator__arrowLeft;
        }

        > span {
            width: fit-content;
            height: fit-content;
        }

        svg {
            width: 2rem;
            height: 2rem;
        }
    }

    &__arrowRight {
        @extend .c-paginator__arrowLeft;

        &--lastPage {
            @extend .c-paginator__arrowRight;
        }
    }

    &__separator {
        @extend .c-paginator__link;
    }

    &__link {
        position: relative;

        display: inline-flex;
        padding: 1rem 0.5rem;

        &--currentPage {
            @extend .c-paginator__link;
        }
    }

    &__counter {
        // padding: 0 0.5rem;

        margin: 0 1rem;
    }
}
